<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    {{#if (productos.length !== 0)}}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{price}}</td>
                        <td>
                            <img src="{{thumbnail}}" alt="{{title}}" width="100px">
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{#else}}
            <p>Todavia no hay productos cargados.</p>
        {{/else}}
    {{/if}}      
    <a href="/">Ingresar un nuevo productp</a>          
</body>
</html>